#laal
{
    color: red;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#llaal
{
    color: red;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#camera
{
    height: 200px;
    width: 300px;
    border-color: black;
}

#no3
{
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

#no1
{
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);

}

#no2
{
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
    

    
}

.copy_right_footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: blue;
    
}

body
{
    background-color: aquamarine;
}

img:hover
{
    border-radius: 140px;
}


